# Object files
*.o
*.ko
*.obj
*.elf
*.u
*.*~
*.srf06-cc26xx
*.native
*.csc
*.d
*.map
*.ucmotebase
symbols.c
symbols.h

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
/tools/sensortag.uniflashsession
